.mat-toolbar {
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.mat-card>:first-child {
  border-bottom-style: inset;
}

.mat-card {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;

}
img{
  border-bottom-left-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}
.example-header-image {
  background-size: 100%;
  margin-left: 3%;
  width: 4rem;
  height: 4rem;
}

.mat-card-image {
  width: 16rem;
  margin: 0 -16px 16px -16px;
  display: block;
  overflow: hidden;
}

.mat-card-image:first-child {
  margin-top: 0px;
}

.mat-button {
  color: white;
}

.action {
  background: black;
}

.mat-card-header {
  justify-content: start;
  border-end-start-radius: 1rem;
  border-start-end-radius: 4rem;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 101, 121, 1) 0%, rgb(12, 142, 171) 50%, rgba(255, 255, 255, 1) 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 7px 14px 3px 0px !important;
  cursor: pointer;
  color: white;
}

.head {
  background: transparent;
  width: 70%;
  margin: 0 auto;
}

.mat-card-subtitle {
  color: white;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  background: #0c7891;
  color: white;
}




//Sun Animation
.sun {
  position: absolute;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  top: 6em;
  right: 2%;
  background-color: rgba(255, 209, 0, 0.1);
  transform-origin: center;
  animation: spin 60s linear infinite;
}
.sun .ray {
  position: absolute;
  left: -4em;
  top: 1.75em;
  background: linear-gradient(90deg, rgba(255, 209, 0, 0) 0%, rgba(255, 209, 0, 0.9) 40%, rgba(255, 209, 0, 0.9) 60%, rgba(255, 209, 0, 0) 100%);
  width: 12em;
  height: 0.5em;
  border-radius: 0.5em;
}
.sun .ray:nth-child(even) {
  background: linear-gradient(90deg, rgba(255, 209, 0, 0) 10%, rgba(255, 209, 0, 0.9) 40%, rgba(255, 209, 0, 0.9) 60%, rgba(255, 209, 0, 0) 90%);
  height: 0.4em;
  top: 1.8em;
}
.sun .ray:nth-child(2) {
  transform: rotate(18deg);
}
.sun .ray:nth-child(3) {
  transform: rotate(36deg);
}
.sun .ray:nth-child(4) {
  transform: rotate(54deg);
}
.sun .ray:nth-child(5) {
  transform: rotate(72deg);
}
.sun .ray:nth-child(6) {
  transform: rotate(90deg);
}
.sun .ray:nth-child(7) {
  transform: rotate(108deg);
}
.sun .ray:nth-child(8) {
  transform: rotate(126deg);
}
.sun .ray:nth-child(9) {
  transform: rotate(144deg);
}
.sun .ray:nth-child(10) {
  transform: rotate(162deg);
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

.cloud {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 40%;
  width: 4em;
  height: 4em;
  margin: -2em;
  color: #bfbfbf;
  background: currentColor;
  border-radius: 50%;
  box-shadow: -2.4em 0.6em 0 -0.6em,
              2.2em 0.95em 0 -0.95em;
}
.cloud:before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: -0.3em;
  width: 4.4em;
  height: 1em;
  background: currentColor;
}
.cloud:nth-child(2) {
  left: 0%;
  top: 75%;
  transform: scale(0.9);
}
.cloud:nth-child(3) {
  left: 95%;
  top: 6%;
  transform: scale(0.8);
}
.cloud:nth-child(4) {
  left: 75%;
  top: 65%;
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
.mobile{
  display: flex;
  flex-direction: column;
}
.bg{
  background: none !important;
}
.head{
  width: auto;
}
}

