.mat-toolbar {

  color: white;
}

.mat-button {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.mat-card>:first-child {
  border-bottom-style: inset;

}

.mat-card {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: 100%;
  margin-left: 3%;
}

.mat-card-image {
  width: 16rem;
  /* margin: 0 -16px 16px -16px; */
  display: block;
  overflow: hidden;
}

.mat-card-image:first-child {
  margin-top: 0px;

}

.action {
  background: black;
}

.mat-card-header {
  justify-content: start;
  border-end-start-radius: 5rem;
  border-start-end-radius: 5rem;
  background: #0ec0f1 !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 7px 14px 3px 0px !important;
cursor: pointer;
}


button{
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  background: skyblue;

}
