<mat-toolbar color="primary">
  <span>Find a Story!</span>
  <div class="spacer"></div>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/dashboard">Learning Map</a>
</mat-toolbar>

<div class="sun">
  <div class="ray"></div>
  <div class="ray"></div>
  <div class="ray"></div>
  <div class="ray"></div>
  <div class="ray"></div>
  <div class="ray"></div>
  <div class="ray"></div>
  <div class="ray"></div>
  <div class="ray"></div>
  <div class="ray"></div>
</div>

<div class="container">

  <mat-card class="card-data my-4">
    <mat-card-header>
      <mat-card-title>Select Your Story </mat-card-title>
    </mat-card-header>

    <div class="row mt-3 mobile">
      <div class="col d-flex justify-content-center">
        <mat-form-field>
          <mat-label>Select a Theme</mat-label>
          <mat-select (selectionChange)="themeChange()" [(value)]="theme">
            <mat-option value="efln_anm">Animals</mat-option>
            <mat-option value="efln_brd"> Birds</mat-option>
            <mat-option value="efln_veg">Vegetables</mat-option>
            <mat-option value="efln_ntr">Nature</mat-option>
            <mat-option value="efln_rel">Relations</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col d-flex justify-content-center">
        <mat-form-field>
          <mat-label>Select a Language</mat-label>
          <mat-select (selectionChange)="languageChange()" [(value)]="language">
            <mat-option value="efln_en">English</mat-option>
            <mat-option value="efln_hi">Hindi</mat-option>
            <mat-option value="efln_gj">Gujarati</mat-option>
            <mat-option value="efln_as">Assamese</mat-option>
            <mat-option value="efln_ta">Tamil</mat-option>
            <mat-option value="efln_mar">Marathi</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col d-flex justify-content-center">
        <mat-form-field>
          <mat-label>Select a Type</mat-label>
          <mat-select (selectionChange)="typeChange()" [(value)]="type">
            <mat-option value="efln_vid">Video</mat-option>
            <mat-option value="efln_rda">Read Along</mat-option>
            <mat-option value="efln_rd">Read</mat-option>
            <mat-option value="efln_aud">Audio</mat-option>
            <mat-option value="efln_sgn">Sign Language</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col btn">
        <button mat-raised-button class="clear-button" (click)="clicked()">Clear</button>
      </div>
    </div>
  </mat-card>

  <mat-card *ngFor="let content of data;let i=index" class="head mb-3">
    <mat-card-header class="d-flex bg" (click)="openDialog(content.id)">
      <div mat-card-avatar class="example-header-image">
        <img width="70px" height="70x" src="{{content.icon}}" alt="">
      </div>
      <mat-card-title class="mt-2" >{{content.title}} </mat-card-title>
      <mat-card-subtitle> <b>{{content.type}} | About: {{content.about}} | in {{content.lan}} | Source: {{content.source}}</b>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>


  <mat-card *ngIf="data.length===0" class="head no-content ">
      <mat-card-title class="mt-2" >No Content found with the above filters! </mat-card-title>
  </mat-card>
</div>