<!-- <div class="animation-container">
    <div class="lightning-container">
        <div class="lightning white"></div>
        <div class="lightning red"></div>
    </div>
    <div class="boom-container">
        <div class="shape circle big white"></div>
        <div class="shape circle white"></div>
        <div class="shape triangle big yellow"></div>
        <div class="shape disc white"></div>
        <div class="shape triangle blue"></div>
    </div>
    <div class="boom-container second">
        <div class="shape circle big white"></div>
        <div class="shape circle white"></div>
        <div class="shape disc white"></div>
        <div class="shape triangle blue"></div>
    </div>
</div> -->


<div *ngIf="true">
    <div class="d-flex justify-content-between align-items-center">
        <div class="app-logo">
            <div class="logo">
                <img height="140px" src="assets/icon.jpg" width="280px">
            </div>
        </div>

        <div class="page-title">
            <h2 class="mat-title "><span class="multi-color "><em>क</em><em>ഥാ</em><em>સા</em><em>க</em><em>ర</em></span>
                - Kathaa Saagara</h2>
            <p class="mat-body-2 animate-charcter">Immerse yourself in the world of tales</p>
        </div>


        <div class="app-cat">
            <div class="cat">
                <div class="ear ear--left"></div>
                <div class="ear ear--right"></div>
                <div class="face">
                    <div class="eye eye--left">
                        <div class="eye-pupil"></div>
                    </div>
                    <div class="eye eye--right">
                        <div class="eye-pupil"></div>
                    </div>
                    <div class="muzzle"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" style="margin-top:1rem;">
        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col">
                    <img src="assets/Image.jpg" class="img-fluid rounded-start" alt="Photo of a Shiba Inu">
                </div>
                <div class="col"
                    style="background:transparent;padding:2rem;align-self: stretch;display:flex;align-items: center;">
                    <p class="card-text " style="color: #fff;font-size: 24px;">Collection of enchanting narratives with
                        different themes across different Indian Languages. Experience interactive storytelling with
                        visuals and audio where your imagination takes center stage.</p>
                </div>
            </div>
        </div>
        <div class="button-container d-flex mt-4 p-2">
            <button routerLink="/explore">
                <i class="fa fa-spinner fa-pulse"></i> 
                               Find a Story
                <span class="first"></span>
                <span class="second"></span>
                <span class="third"></span>
                <span class="fourth"></span>
            </button>

            <button (click)="gotoBot()">
                <i class="fa fa-commenting"></i>
                Tell me a Story
                <span class="first"></span>
                <span class="second"></span>
                <span class="third"></span>
                <span class="fourth"></span>
            </button>
        </div>
        <app-eye></app-eye>     
    </div>
    
</div>